.displayflex-colume{
    display: flex;
    flex-direction: column;
}
.editable-row .ant-form-explain {
    font-size: 12px;
    margin-top: -4px;
  }

th {
    text-align: center;
    
}

td {
    text-align: center;
}

tbody tr:nth-child(even){
    /*background-color: #f5f5f5;*/
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.theader{
    height: 40px;
    border: 1px solid #D2C1CD;
    background-color: #C4F3A6;

}

.tdata{
    height: 40px;
    border: 1px solid #D2C1CD;
}

.loadscreen{
    width: 65vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Search_Display{
    display: flex;
    margin: 5px;
    margin-top: 10px;
}

.Search_text{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.Select_curri{
    width: 260px;
}

.Select_subject{
    width: 280px;
}

.Select_semester{
    width: 90px;
    text-align: center;
}

.Input_curri{
    width: 100px;
}

.Input_student{
    width: 120px;
}
.Input_semester{
    width: 100%;
    text-align: center;
}
.Input_day{
    width: 90%;
    text-align: center;
}
.Input_lect_or_prac{
    width: 90%;
    text-align: center;
}

.Search_button{
    margin-right: 10px;
    margin-left: 10px;
    background-color: #C4C4C4;
    color: #000000;
}
.Search_button:hover {
    background-color: #C4C4C4;
    color: #000000;
}